*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    scroll-behavior: smooth;
    
  }

  body{
    
background:linear-gradient(to top right, #202040 0%, #000000 100%);
    
height: 753px;
    
color: whitesmoke;
    
font-family: 'Poppins', sans-serif;
    
display: flex;
    
justify-content: center;
    
align-items: center;
  }
  p{
      
  }